<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="header">
    <div id="logo"><a href="/"><h1>Insta485</h1></a> </div>
    <div id="explore">
        <a href="/explore/">explore</a>|<a href="/users/{{ logname }}/">{{ logname }}</a>
    </div>
</div>

<div id="contents">
    <p>{{ logname }}</p>
    <form action="/accounts/?target=/accounts/create/" method="post" enctype="multipart/form-data">
        <input type="submit" name="delete" value="confirm delete account"/>
        <input type="hidden" name="operation" value="delete"/>
    </form>
</div>


</body>
</html>