<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a href="/"><h1>Insta485</h1></a>
      </div>
      <div id="explore">
        <a href="/explore/">explore</a>|<a href="/users/{{ logname }}/"
          >{{ logname }}</a
        >
      </div>
    </div>
    <div id="contents">
      <form
        action="/accounts/?target=/accounts/edit/"
        method="post"
        enctype="multipart/form-data"
      >
        Old password: <input type="password" name="password" required /><br />
        New password:
        <input type="password" name="new_password1" required /><br />
        New password again:
        <input type="password" name="new_password2" required /><br />
        <input type="submit" name="update_password" value="submit" />
        <input type="hidden" name="operation" value="update_password" />
      </form>
      <br />
      <div style="font-size: 20px; font-weight: bold">
        <a href="/accounts/edit/">Back to edit account</a>
      </div>
    </div>
  </body>
</html>
