.feed {
  position: relative;
  width: 1440px;
  height: 900px;
  background: #FFFFFF;
}

.ask485 {
  position: absolute;
  width: 153px;
  height: 44px;
  left: 63px;
  top: 63px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;

  color: #FF60AC;
}

.bolder {
  font-style: bold;
  font-weight: bold;
}

.pagerank_weight {
  position: absolute;
  width: 135px;
  height: 14px;
  left: 1146.5px;
  top: 134px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 77.19%;
  /* identical to box height, or 14px */
  letter-spacing: -0.03px;

  color: #000000;
}

.docs {
  margin-top: 175px;
  margin-left: 270px;
  width: 750px;
  position: absolute;
}

.doc_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;

  color: #831349;

  margin-top: 10px;
  padding-top: 10px;
}
.doc_url {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FF60AC;
}

.doc_summary {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #535353;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 35px;
}

.no_results {
  color: #535353;
  margin-top: 175px;
  margin-left: 270px;
  width: 750px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

input[type=text] {
  position: absolute;
  width: 751px;
  height: 69px;
  left: 270px;
  top: 44px;

  background: #F8F8F8;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline-color: #E72A85;

  padding-left: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #313131;
}

input[type=submit] {
  position: absolute;
  width: 194px;
  height: 40px;
  left: 1120px;
  top: 64px;

  color: #FFFFFF;
  background: #E72A85;
  border-radius: 3px;
  border-color: transparent;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  padding: 4px;
}

input[type=range] {
  -webkit-appearance: none;
  position: absolute;
  left: 1110px;
  top: 180px;
  width: 222px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 222px;
  height: 4px;
  background: #383838;
  border-radius: 2px;
  border: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #E72A90;
  border: transparent;
  height: 16px;
  width: 16px;
  margin-top: -4px;
  border-radius: 50%;
  cursor: pointer;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #E72A90
}

input[type=range]::-moz-range-track {
  width: 222px;
  height: 4px;
  background: #383838;
  border-radius: 2px;
  border: transparent;
}

input[type=range]::-moz-range-thumb {
  background-color: #E72A90;
  border: transparent;
  height: 16px;
  width: 16px;
  margin-top: -4px;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-moz-range-progress {
  background-color: #E72A90;
  width: 222px;
  appearance: none;
}

input[type=range]:focus::-moz-range-track {
  background: #E72A90;
}

.main{
  float: left;
}

.head{
  float: left;
  margin: auto;
}