<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>ask485</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="head">
        <h1>ask485</h1>
        <div>
            <form action="/" method="GET">
            <div><input type="text" name="q" value="{{ query }}" /></div>
            <div><input type="range" name="w" value="{{ weight }}" min="0" max="1" step="0.01" /></div>
            <input type="submit" value="Search"/>
        </form>
        </div>
    </div>

    <br>
    <div class="main">
        {% for result in results %}
        <div>
            <a class="doc_url" href="{{ result.url }}">{{ result.url or 'No url available' }}</a>
            <div class="doc_title">{{ result.title }}</div>
            <div class="doc_summary">{{ result.summary or 'No summary available' }}</div>
        </div>
    {% else %}
        <div class="no_results">No search results found!</div>
        <br>
    {% endfor %}
    </div>

</body>
</html>
